@charset "UTF-8";
/*reset*/
body, h1, h2, h3, h4, h5, h6, p, dl, dd, ul, ol, pre, form, input, textarea, th, td, select { margin: 0; padding: 0; }

em { font-style: normal; }

li { list-style: none; }

a { text-decoration: none; color: #000; }

img { border: none; }

table { border-collapse: collapse; }

textarea { resize: none; overflow: hidden; }

/*public*/
body { font-family: '微软雅黑'; color: #666; min-width: 1263px; }

.wrap { width: 1204px; margin: 0 auto; }

.clear { zoom: 1; }

.clear:after { content: ''; display: block; clear: both; }

/*top*/
#top { width: 100%; height: auto; }
#top .top { margin: 0 auto; width: 950px; }
#top .top .tl { float: left; width: 320px; margin-top: 10px; }
#top .top .tl p { font-size: 13px; font-family: Arial; }
#top .top .tl em { background: url(../../img/msg_bg.png) no-repeat 0 0; display: block; float: left; margin-right: 6px; margin-top: 5px; width: 16px; height: 11px; }
#top .top .tl i { background: url(../../img/msg_bg.png) no-repeat 0 -17px; display: block; margin-right: 6px; margin-top: 5px; overflow: hidden; text-indent: -9999px; width: 16px; height: 11px; }
#top .top .logo h1 { margin-top: 30px; float: left; width: 310px; }
#top .top .tr { float: right; text-align: center; width: 320px; margin-top: 10px; line-height: 13px; height: 64px; }
#top .top .tr li { display: block; margin-bottom: 5px; text-align: right; font-size: 13px; position: relative; }
#top .top .tr li input { width: 80px; color: #666666; height: 20px; line-height: 20px; padding: 0 25px 0 6px; vertical-align: middle; }
#top .top .tr li input:focus { width: 200px; }
#top .top .tr li em { position: absolute; right: 3px; top: 4px; height: 16px; width: 15px; background: url(../../img/msg_bg.png) no-repeat 0 -67px; cursor: pointer; }
#top .bottom { border-top: 3px solid #000; margin-top: 5px; width: 950px; margin: 0 auto; }
#top .bottom .mt { float: left; position: relative; }
#top .bottom .mt #hy { background: url(../../img/menCenIcon.jpg) no-repeat 0 8px; text-indent: -9999px; }
#top .bottom .mt #hy:hover { background: url(../../img/menCenIconH.jpg) no-repeat 0 8px; }
#top .bottom .mt:hover { background: #666; }
#top .bottom .mt:hover > a { color: #fff; }
#top .bottom .mt:hover .menu { display: block; }
#top .bottom .mt:hover .menu1 { display: block; }
#top .bottom .mt .menu { z-index: 150; background: #fefefe; width: 904px; height: auto; position: absolute; top: 49px; display: none; left: -119px; padding: 23px; border: 1px solid #cfcfcf; }
#top .bottom .mt .menu .menut { float: left; text-align: left; }
#top .bottom .mt .menu .menut > a { display: block; font-size: 15px; border-bottom: 1px solid #eee; color: black; padding: 0 0 5px 0; margin: 0 5px; width: 100px; line-height: 22px; }
#top .bottom .mt .menu li { padding: 6px 0; text-align: left; }
#top .bottom .mt .menu li a { display: block; font-size: 13px; text-indent: 10px; }
#top .bottom .mt .menu li a:hover { color: #ccc; }
#top .bottom .mt > a { width: 118px; height: 34px; padding-top: 15px; line-height: 34px; text-align: center; font: normal 18px "黑体"; display: block; }
#top .bottom .mt > a:hover { background: #666; color: #fff; }
#top .bottom .menu1 { z-index: 150; background: #fefefe; border: 1px solid #cfcfcf; display: none; padding-top: 10px; position: absolute; top: 49px; left: 0; }
#top .bottom .menu1 li { text-align: left; margin: 0 6px 0 7px; width: 100px; line-height: 22px; padding-bottom: 5px; margin-bottom: 8px; border-bottom: 3px solid #ccc; }
#top .bottom .menu1 li a { color: black; font-size: 15px; }

/*shopcart*/
#shopcart .wrapper { width: 950px; margin: 0 auto; }
#shopcart .wrapper .st p { height: 17px; line-height: 17px; margin: 5px 0; }
#shopcart .wrapper .st h2 { font: bold 25px/50px '宋体'; text-align: center; background: #000; color: #fff; }
#shopcart .wrapper .st ul { width: 951px; margin-top: 20px; }
#shopcart .wrapper .st ul li { float: left; width: 316px; text-align: center; color: #7f7f7f; border-bottom: 12px solid #e5e5e5; margin-right: 1px; font: 15px/22px '宋体'; }
#shopcart .wrapper .st ul .li { border-bottom: 12px solid #7f7f7f; }
#shopcart .wrapper .help { border-bottom: 1px solid #d1d1d1; margin: 20px 0; padding: 0 0 20px 0; }
#shopcart .wrapper .help h3 { font: bold 16px/18px '宋体'; width: 98px; padding: 0 10px 3px 0; border-bottom: 1px solid #000; }
#shopcart .wrapper .help p { margin-top: 20px; }
#shopcart .wrapper .help p a { margin-right: 15px; outline: none; color: #000; font-size: 13px; }
#shopcart .wrapper .help p a:hover { text-decoration: underline; color: #999; }
#shopcart .wrapper .shop { width: 950px; padding-bottom: 20px; margin: 20px 0; font-size: 13px; }
#shopcart .wrapper .shop .zaiyao h3 { font: bold 18px/36px '宋体'; float: left; }
#shopcart .wrapper .shop .zaiyao a { background: #000; padding: 0 20px; font: 13px/30px '宋体'; color: #fff; cursor: pointer; text-align: center; float: right; }
#shopcart .wrapper .shop .miaoshu { background: #f2f2f2; border: 1px solid #ccc; padding: 5px 10px; margin-top: 20px; }
#shopcart .wrapper .shop .miaoshu li { float: left; text-align: center; padding-right: 20px; line-height: 22px; width: 165px; }
#shopcart .wrapper .shop .miaoshu .all1 { text-align: left; }
#shopcart .wrapper .shop .sp { margin: 10px 0; }
#shopcart .wrapper .shop .sp input { margin-left: 11px; vertical-align: middle; }
#shopcart .wrapper .shop .sp span { margin-left: 5px; background: #000; color: #fff; height: 16px; line-height: 16px; width: 56px; text-align: center; display: inline-block; border-radius: 8px; }
#shopcart .wrapper .shop .list { border: 1px solid #ccc; border-top: none; }
#shopcart .wrapper .shop .list .null { border-top: 1px solid #ccc; margin-top: 20px; width: 950px; height: 100px; text-align: center; line-height: 30px; }
#shopcart .wrapper .shop .list .null p { margin: 10px 0; font-size: 25px; }
#shopcart .wrapper .shop .list .null button { background: #000; color: #fff; display: inline-block; border: 1px solid #7f7f7f; padding: 0 20px; margin-right: 30px; text-align: center; line-height: 28px; cursor: pointer; }
#shopcart .wrapper .shop .list ul { border-top: 1px solid #ccc; width: 928px; padding: 20px 10px; position: relative; }
#shopcart .wrapper .shop .list ul .del { position: absolute; bottom: 20px; right: 30px; }
#shopcart .wrapper .shop .list ul .del button { background: #ccc; color: #000; display: inline-block; border: 1px solid #7f7f7f; padding: 0 20px; margin-right: 30px; text-align: center; line-height: 28px; cursor: pointer; }
#shopcart .wrapper .shop .list ul li { float: left; text-align: center; padding-right: 20px; line-height: 22px; width: 165px; }
#shopcart .wrapper .shop .list ul li .listGx { width: 10px; float: left; margin-top: 100px; margin-right: 5px; vertical-align: middle; }
#shopcart .wrapper .shop .list ul li img { width: 108px; height: 174px; }
#shopcart .wrapper .shop .list ul li .num { width: 48px; margin: 0 auto; }
#shopcart .wrapper .shop .list ul li .num .numShow { border: 1px solid #bfbfbf; width: 22px; height: 20px; line-height: 20px; float: left; text-align: center; vertical-align: middle; }
#shopcart .wrapper .shop .list ul li .num .up { float: left; background: url(../../img/msg_bg.png) no-repeat -25px 0; display: block; width: 23px; height: 10px; margin-left: 1px; cursor: pointer; }
#shopcart .wrapper .shop .list ul li .num .down { float: left; background: url(../../img/msg_bg.png) no-repeat -25px -12px; margin-top: 2px; display: block; width: 23px; height: 10px; margin-left: 1px; cursor: pointer; }
#shopcart .wrapper .shop .lb { margin-top: 20px; font-size: 13px; }
#shopcart .wrapper .shop .lb p { background: #f2f2f2; border: 1px solid #ccc; padding: 5px 10px; }
#shopcart .wrapper .shop .lb p input { vertical-align: middle; }
#shopcart .wrapper .shop .lb p span { margin-left: 2px; }
#shopcart .wrapper .shop .lb p a { margin-left: 10px; text-decoration: underline; }
#shopcart .wrapper .shop .lb ul { margin: 20px 0; width: 510px; height: 139px; padding-right: 30px; float: right; }
#shopcart .wrapper .shop .lb ul li { font-size: 13px; line-height: 24px; height: 24px; overflow: hidden; }
#shopcart .wrapper .shop .lb ul li i { width: 350px; text-align: right; margin-right: 15px; float: left; }
#shopcart .wrapper .shop .lb ul li span { float: left; line-height: 24px; }
#shopcart .wrapper .shop .lb ul li em { text-align: right; float: right; }
#shopcart .wrapper .shop .lb ul .youhui { color: red; }
#shopcart .wrapper .shop h4 { margin-top: 20px; width: 950px; }
#shopcart .wrapper .shop h4 .jixu { display: inline-block; background: #ccc; color: #000; border: 1px solid #f7f7f7; line-height: 28px; float: left; padding: 0 20px; text-align: center; cursor: pointer; }
#shopcart .wrapper .shop h4 .jiesuan { cursor: pointer; display: inline-block; background: #000; color: #fff; border: 1px solid #000; line-height: 28px; float: right; padding: 0 20px; text-align: center; }

/*res*/
#res { width: 950px; margin: 0 auto; }
#res .rt p { height: 17px; line-height: 17px; margin: 5px 0; font-size: 13px; }
#res .rt h3 { font: bold 25px/50px '宋体'; text-align: center; background: #000; color: #fff; }
#res .rt div { float: left; margin-top: 20px; border-bottom: 12px solid #7f7f7f; font-weight: bold; text-align: center; font: 15px/22px '宋体'; color: #7f7f7f; margin-right: 1px; width: 473px; }
#res .rt .wancheng { float: left; margin-top: 20px; border-bottom: 12px solid #eee; }
#res .rb { width: 950px; height: 750px; background: url(../../img/res_banner.jpg) no-repeat; }
#res .rb .rbl { margin-top: 10px; padding-top: 50px; padding-left: 40px; }
#res .rb .form { width: 490px; }
#res .rb .form h4 { font-size: 24px; margin-top: 20px; }
#res .rb .form li { margin-top: 10px; font-size: 13px; }
#res .rb .form li label { display: block; font-size: 13px; margin-bottom: 5px; color: #000; }
#res .rb .form li em { margin-right: 5px; color: #000; }
#res .rb .form li .sex { width: 13px; height: 13px; margin: 0 5px; }
#res .rb .form li input { color: #999; width: 250px; height: 24px; margin-top: 5px; line-height: 24px; border: 1px solid #b2b2b2; padding: 0 5px; margin-right: 10px; }
#res .rb .form li button { background: #000; width: 88px; height: 26px; line-height: 26px; padding: 0 6px; outline: none; vertical-align: middle; border: 1px solid #000; font: 13px/30px '宋体'; text-align: center; color: #fff; cursor: pointer; }
#res .rb .form li span { color: red; font-size: 13px; }
#res .rb .form li #tijiao { background: #000; width: 66px; height: 30px; line-height: 30px; padding: 0 6px; outline: none; vertical-align: middle; border: 1px solid #000; font: 13px/30px '宋体'; text-align: center; color: #fff; cursor: pointer; }
#res .rb .form li #gouxuan { width: 14px; height: 14px; margin-right: 5px; }

/*login*/
#login .wrapper { width: 950px; margin: 0 auto; }
#login .wrapper .group { height: 17px; line-height: 17px; margin: 5px 0; }
#login .wrapper .l1 { width: 950px; height: 50px; line-height: 50px; font: bold 25px/50px '宋体'; text-align: center; background: #000; color: #fff; }
#login .wrapper .l2 .btn2 { width: 66px; height: 30px; font-size: 13px; line-height: 30px; color: #fff; background: #000; outline: none; cursor: pointer; }
#login .wrapper .l2 .lol { float: left; width: 470px; margin-top: 30px; }
#login .wrapper .l2 .lol h4 { font: bold 16px/18px '宋体'; }
#login .wrapper .l2 .lol .form { margin-top: 30px; }
#login .wrapper .l2 .lol .form label { display: block; float: left; height: 26px; line-height: 26px; width: 56px; text-align: right; vertical-align: middle; font-size: 13px; }
#login .wrapper .l2 .lol .form p { position: relative; margin: 5px 0; }
#login .wrapper .l2 .lol .form p span { margin-left: 10px; line-height: 26px; color: #999; font-size: 13px; }
#login .wrapper .l2 .lol .form p #idcode1 { position: absolute; top: 0; left: 279; width: 86px; height: 23px; display: inline-block; text-align: center; color: #000; font-size: 16px; background: #999; cursor: pointer; border: 1px solid #eee; margin-left: 10px; }
#login .wrapper .l2 .lol .form p .btn1 { width: 104px; height: 26px; text-align: center; margin-left: 5px; background: #4c4c4c; line-height: 30px; color: #fff; display: inline-block; vertical-align: middle; cursor: pointer; font-size: 13px; }
#login .wrapper .l2 .lol .form h5 { margin-left: 56px; color: #999; width: 300px; font-size: 13px; margin: 10px 56px; }
#login .wrapper .l2 .lol .form .btn2 { width: 66px; height: 30px; font-size: 13px; line-height: 30px; color: #fff; background: #000; margin-left: 56px; cursor: pointer; }
#login .wrapper .l2 .lol .form input { height: 24px; line-height: 24px; border: 1px solid #b2b2b2; width: 210px; padding: 0 5px; vertical-align: middle; }
#login .wrapper .l2 .lor { padding: 15px 0 0 45px; margin-top: 20px; width: 300px; height: 300px; float: left; border-left: 1px solid #b2b2b2; }

/*main*/
#main { width: 950px; margin: 0 auto; }
#main .mt { margin-bottom: 10px; }
#main .mt .nav { height: 17px; line-height: 17px; margin: 5px 0; }
#main .mt .nav a { font-size: 13px; }
#main .mt .title { font: bold 25px/50px '宋体'; text-align: center; background: #000; color: #fff; }
#main .ml { float: left; width: 170px; margin-right: 10px; }
#main .ml .mlt h3 { background: #434343; padding: 0 15px; width: 140px; color: #fff; line-height: 27px; font-size: 14px; }
#main .ml .mlt ul { padding: 10px; border: 1px solid #e6e6e6; width: 148px; margin-bottom: 10px; }
#main .ml .mlt ul li { line-height: 22px; padding: 2px 0; font-size: 14px; }
#main .ml .mlt ul li span { background: url(../../img/msg_bg.png) no-repeat 0 -423px; width: 11px; height: 11px; display: inline-block; margin-top: 5px; margin-right: 2px; }
#main .mr { width: 770px; float: right; }
#main .mr h3 { font-size: 13px; }
#main .mr h3 a { display: inline-block; width: 58px; height: 23px; margin-right: 20px; text-align: center; line-height: 21px; font-size: 13px; border: 1px solid #eee; }
#main .mr h3 label { color: #000; }
#main .mr h3 select { margin-right: 10px; }
#main .mr h3 .ye { float: right; }
#main .mr h3 .ye i { background: url(../../img/msg_bg.png) no-repeat 0 -560px; vertical-align: middle; margin-left: 20px; display: inline-block; width: 18px; height: 18px; }
#main .mr h3 .ye em { background: url(../../img/msg_bg.png) no-repeat 0 -560px; display: inline-block; width: 18px; transform: rotate(180deg); vertical-align: middle; height: 18px; }
#main .mr li { margin: 0 5px; background: #f5f5f5; padding: 0 0 0 10px; float: left; width: 170px; height: 370px; margin-bottom: 20px; line-height: 16px; border: 1px solid #a29f9f; font-size: 15px; }
#main .mr li img { display: block; width: 100%; height: 100%; text-align: center; }
#main .mr li .pbig { width: 148px; height: 236px; }
#main .mr li .pbig img { margin: 4px; }
#main .mr li p { width: 170px; padding: 10px 0; }
#main .mr li p a { font-weight: bold; }
#main .mr li p span { color: red; font-size: 18px; }
#main .mr li p strong { color: orange; font-size: 16px; }
#main .mr li .psmall li { width: 18px; height: 29px; margin: 5px 0; padding: 0; border: 1px solid #a29f9f; text-align: center; }

/*content*/
#content .wrapper { width: 950px; margin: 0 auto; }
#content .wrapper .ct { height: 17px; line-height: 17px; margin: 5px 0; }
#content .wrapper .ct a { font-size: 13px; }
#content .wrapper .cb { border-top: 7px solid #f2f2f2; position: relative; overflow: hidden; width: 950px; z-index: 10; }
#content .wrapper .cb .cbl { margin-top: 5px; float: left; }
#content .wrapper .cb .cbl .smallImg { width: 110px; height: 450px; float: left; padding: 25px 0; position: relative; overflow: hidden; margin-right: 20px; }
#content .wrapper .cb .cbl .smallImg #up { width: 110px; height: 20px; overflow: hidden; position: absolute; top: 5px; left: 0; cursor: pointer; background: url(../../img/zoom.jpg) no-repeat 0 -40px; }
#content .wrapper .cb .cbl .smallImg #tu { height: 450px; overflow: hidden; }
#content .wrapper .cb .cbl .smallImg #tu ul { margin-top: 5px; }
#content .wrapper .cb .cbl .smallImg #tu ul li { height: 181px; width: 110px; overflow: hidden; }
#content .wrapper .cb .cbl .smallImg #tu ul li img { width: 108px; height: 174px; border: 1px solid #E8E8E8; cursor: pointer; }
#content .wrapper .cb .cbl .smallImg #down { width: 110px; height: 20px; overflow: hidden; position: absolute; left: 0; bottom: 0; cursor: pointer; background: url(../../img/zoom.jpg) no-repeat 0 -60px; }
#content .wrapper .cb .cbl .bigImg { float: left; width: 313px; height: 500px; position: relative; margin-right: 20px; }
#content .wrapper .cb .cbl .bigImg img { width: 100%; height: 100%; }
#content .wrapper .cb .cbl .bigImg .xk1 { display: none; width: 110px; height: 108px; position: absolute; left: 152.5px; top: 0px; cursor: crosshair; opacity: 0.25; background: #000; border: 1px solid #fff; }
#content .wrapper .cb .cbl .bigImg .xk2 { position: absolute; top: 5px; left: 203px; margin-top: 54px; margin-left: 54px; color: grey; background: #fff; opacity: 0.5; border: 1px solid #ccc; text-transform: uppercase; font-size: 13px; }
#content .wrapper .cb .cbl .fangda { display: none; width: 506px; height: 498px; position: absolute; top: 5px; left: 442px; border: 1px solid #ccc; overflow: hidden; z-index: 100000; background: #fff; }
#content .wrapper .cb .cbl .fangda img { width: 1460px; height: 2336px; position: absolute; left: -188.914px; top: -1808.06px; }
#content .wrapper .cb .cbr { float: left; text-align: left; width: 379px; height: auto; position: relative; }
#content .wrapper .cb .cbr p { margin-top: 3px; font-size: 13px; }
#content .wrapper .cb .cbr .intro h3 { font-size: 15px; line-height: 18px; font-size: normal; }
#content .wrapper .cb .cbr .intro span { margin-top: 3px; font: normal 20px/20px Arial; display: block; color: #000; }
#content .wrapper .cb .cbr .youhui { overflow-y: scroll; width: 380px; height: 48px; margin-top: 3px; border-top: 1px solid #000; }
#content .wrapper .cb .cbr .youhui p { color: red; margin-top: 2px; }
#content .wrapper .cb .cbr .message { margin-top: 15px; height: 230px; }
#content .wrapper .cb .cbr .message ul li { float: left; margin-bottom: 3px; width: 30px; position: relative; margin-right: 3px; border: 1px solid #000; }
#content .wrapper .cb .cbr .message ul li b { width: 12px; height: 12px; display: none; position: absolute; right: 0; bottom: 0; background: url(../../img/msg_bg.png) no-repeat 0 -643px; }
#content .wrapper .cb .cbr .message ul li .i1 { display: block; }
#content .wrapper .cb .cbr .message .chima { width: 379px; margin: 10px 0; }
#content .wrapper .cb .cbr .message .chima select { float: left; display: block; height: 22px; border: 1px solid #bfbfbf; color: #000; cursor: pointer; margin-right: 10px; }
#content .wrapper .cb .cbr .message .chima select option { background: #ccc; color: #000; }
#content .wrapper .cb .cbr .message .chima .mun { width: 48px; float: left; }
#content .wrapper .cb .cbr .message .chima .mun .spinnerExample { border: 1px solid #bfbfbf; width: 22px; height: 20px; line-height: 20px; float: left; text-align: center; vertical-align: middle; }
#content .wrapper .cb .cbr .message .chima .mun span { background: url(../../img/msg_bg.png) -25px 0; width: 23px; height: 10px; margin-left: 1px; cursor: pointer; display: block; overflow: hidden; float: left; }
#content .wrapper .cb .cbr .message .chima .mun i { background: url(../../img/msg_bg.png) no-repeat -25px -12px; margin-top: 2px; width: 23px; height: 10px; display: block; margin-left: 1px; cursor: pointer; overflow: hidden; float: left; }
#content .wrapper .cb .cbr .message input { width: 150px; height: 30px; overflow: hidden; text-align: center; border: none; line-height: 30px; cursor: pointer; border: 1px solid #000; }
#content .wrapper .cb .cbr .message input:hover { background: #eee; border: 1px solid #ccc; }
#content .wrapper .cb .cbr .message #shopcar { color: #fff; background: #000; }
#content .wrapper .cb .cbr .message #shopcar:hover { opacity: 0.5; border: 1px solid #ccc; }
#content .wrapper .cb .cbr .message i { background: url(../../img/shareBg.png) no-repeat 0px 0; width: 20px; height: 15px; vertical-align: middle; display: inline-block; }
#content .wrapper .cb .cbr .message i:hover { background-position: -29px -0px; }
#content .wrapper .cb .cbr .message em { background: url(../../img/shareBg.png) no-repeat 0px -18px; width: 20px; height: 15px; vertical-align: middle; display: inline-block; }
#content .wrapper .cb .cbr .message em:hover { background-position: -29px -18px; }
#content .wrapper .cb .cbr .link { height: 172px; overflow: hidden; }
#content .wrapper .cb .cbr .link p { border-bottom: 1px solid #000; cursor: pointer; width: 379px; line-height: 18px; padding-bottom: 3px; margin-bottom: 5px; background: url(../../img/lUp.jpg) center right no-repeat; }
#content .wrapper .cb .cbr .link .xiangqing { display: none; height: 91px; margin-top: 5px; overflow-y: scroll; font-size: 13px; }
#content .wrapper .cb .cbr .link .x1 { display: block; }
#content .wrapper .tip { display: none; width: 400px; text-align: center; border: 3px solid #000; padding: 10px; position: fixed; top: 50%; left: 50%; margin-left: -200px; margin-top: -103px; background: #fff; z-index: 9999999; }
#content .wrapper .tip h4 { margin-top: 5px; font-size: 18px; font-family: '宋体'; }
#content .wrapper .tip p { margin-top: 30px; line-height: 30px; margin-bottom: 30px; }
#content .wrapper .tip input { width: 120px; height: 32px; text-align: center; outline: none; cursor: pointer; display: inline-block; }
#content .wrapper .tip #jiesuan { font-size: 13px; background: #000; border: 1px solid #000; color: #fff; padding: 0 20px; margin-right: 20px; }
#content .wrapper .tip .close { cursor: pointer; display: block; position: absolute; top: 5px; right: 5px; width: 15px; height: 15px; background: #fefefe; line-height: 15px; text-align: center; border: 1px solid #ccc; }
#content .wrapper .shophov { display: none; background: #fff; position: fixed; top: 79px; left: 50%; margin-left: 254px; z-index: 9999; border: 1px solid #ccc; }
#content .wrapper .shophov h4 { width: 220px; height: auto; text-align: center; line-height: 35px; font-size: 13px; border-bottom: 1px solid #ccc; }
#content .wrapper .shophov ul li { margin: 10px; padding: 10px; width: 180px; background: #eee; }
#content .wrapper .shophov ul li img { float: left; padding: 10px 0; height: 138px; }
#content .wrapper .shophov ul li .box { margin-left: 10px; float: left; width: 80px; margin-top: 10px; }
#content .wrapper .shophov ul li .box p { font-size: 13px; color: #666; margin-top: 5px; }

/*adver*/
#adver .Ml { float: left; width: 475px; height: 359px; }
#adver .Mr { float: right; width: 475px; height: 359px; }
#adver div { margin: 0 auto; width: 950px; cursor: pointer; }

/*footer*/
#footer { width: 950px; margin: 0 auto; }
#footer .ft { width: 950px; margin-bottom: 25px; }
#footer .ft h5 { padding: 15px 0; text-align: center; border-top: 1px dashed #000; margin-top: 50px; }
#footer .ft h5 img { width: 144px; height: 20px; }
#footer .ft ul { background: #000; padding: 0 15px; width: 920px; }
#footer .ft ul li { float: left; padding-top: 3px; text-align: center; width: 115px; font: normal 14px/22px '黑体'; }
#footer .ft ul li a { color: #fff; text-align: center; }
#footer .ft ul li a:hover { color: #727171; }
#footer .main h3 { margin-top: 25px; border-bottom: 1px solid #666; padding-bottom: 15px; padding-left: 180px; }
#footer .main h3 a { margin-right: 150px; width: 116px; height: 21px; }
#footer .main li { padding-left: 20px; height: 130px; width: 136px; border-left: 1px solid #ccc; float: left; }
#footer .main li:first-child { border: none; }
#footer .main li .fl { float: left; }
#footer .main li .fl h5 { padding-left: 15px; font-size: 14px; font-weight: bold; margin-bottom: 5px; }
#footer .main li .fl p { padding-bottom: 4px; padding-left: 15px; line-height: 18px; font-size: 13px; }
#footer .main li .fl p .p1 { width: 20px; height: 15px; display: inline-block; background: url(../../img/sinaIconColor.jpg); }
#footer .main li .fl p .p2 { width: 20px; height: 15px; display: inline-block; background: url(../../img/weixinIcon.jpg); }
#footer .main li i { float: left; display: block; width: 20px; height: 15px; }
#footer .main li .i1 { background: url(../../img/msg_bg.png) no-repeat 0 -245px; }
#footer .main li .i2 { background: url(../../img/msg_bg.png) no-repeat 0 -270px; }
#footer .main li .i3 { background: url(../../img/msg_bg.png) no-repeat 0 -294px; }
#footer .main li .i4 { background: url(../../img/msg_bg.png) no-repeat 0 -317px; }
#footer .main li .i5 { background: url(../../img/msg_bg.png) no-repeat 0 -341px; }
#footer .main li .i6 { background: url(../../img/msg_bg.png) no-repeat 0 -686px; }
#footer .fb { margin-bottom: 15px; }
#footer .fb p { font-size: 13px; margin-top: 15px; text-align: center; }

/*float*/
#float #homFix { position: fixed; bottom: 0; left: 50%; margin-left: -475px; z-index: 100; }
#float #homFix .hf { border-top: 1px solid #000; width: 950px; background: #fff; padding-top: 30px; height: 90px; position: relative; }
#float #homFix .hf .hfimg { width: 125px; height: 145px; background: url(../../img/mt.png) no-repeat; position: absolute; bottom: 0; left: 25px; text-indent: -999999px; }
#float #homFix .hf .hfimg2 { margin-left: 190px; }
#float #homFix .hf .hfimg2 img { width: 315px; height: 64px; }
#float #homFix .hf .hfr { position: absolute; left: 570px; top: 30px; }
#float #homFix .hf .hfr #show label { width: 50px; text-align: center; display: inline-block; }
#float #homFix .hf .hfr #show a { width: 160px; height: 30px; line-height: 30px; text-align: center; display: inline-block; background: #000; color: #fff; font-size: 16px; }
#float #homFix .hf .hfr #search { margin-top: 5px; }
#float #homFix .hf .hfr #search #email { padding: 0 5px; width: 308px; height: 28px; line-height: 28px; float: left; border: 1px solid #000; }
#float #homFix .hf .hfr #search #dy { width: 60px; height: 30px; line-height: 30px; text-align: center; border: none; cursor: pointer; background: #000; color: #fff; }
#float #homFix #hfclose { width: 12px; height: 12px; text-indent: -99999px; cursor: pointer; background: url(../../img/fixIndexIocn.jpg) no-repeat; position: absolute; top: 5px; right: 5px; }
#float .Fix a { width: 63px; height: 21px; display: block; font-size: 13px; text-align: center; padding-top: 40px; color: #fff; position: fixed; left: 50%; margin-left: 476px; }
#float .Fix #test a { top: 79px; background: url(../../img/fixIcon1.jpg) no-repeat; }
#float .Fix #test a:hover { background: url(../../img/fixIcon1white.jpg); color: #000; }
#float .Fix #online a { background: url(../../img/fixIcon2.jpg) no-repeat; top: 141px; }
#float .Fix #online a:hover { background: url(../../img/fixIcon2white.jpg); color: #000; }
#float .Fix #menCenter a { background: url(../../img/fixIcon4.jpg) no-repeat; top: 203px; }
#float .Fix #menCenter a:hover { background: url(../../img/fixIcon4white.jpg); color: #000; }
#float .Fix #goTop a { background: url(../../img/fixIcon3.jpg); top: 265px; }
#float .Fix #goTop a:hover { background: url(../../img/fixIcon3white.jpg); color: #000; }
